version: '2'

services:
  db:
    container_name: "rest_db"
    image: mysql:8.0
    build: ./app/config/docker/mysql/Dockerfile
    volumes:
      - "app-db:/var/lib/mysql:rw"
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=12345
      - MYSQL_USER=symfony
      - MYSQL_PASSWORD=12345
      - MYSQL_DATABASE=restapi
    networks:
      - mynet

  php:
    container_name: "rest_php"
    build: .
    volumes:
      - "app-files:/app/web"
      - ./log/php-fpm:/var/log/php-fpm
      - ./app/config/docker/php-fpm-7/php-fpm.conf:/usr/local/etc/php-fpm.conf
      - ./app/config/docker/php-fpm-7/php.ini:/usr/local/etc/php/php.ini
      - ./web:/app/web
      - ./src:/app/src
    networks:
      - mynet
    depends_on:
      - db

  nginx:
    container_name: "rest_nginx"
    image: nginx
    dns:
      - 127.0.0.11
    volumes:
      - "app-files:/app/web"
      - ./app/config/docker/nginx/vhost.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php
    networks:
      - mynet
    ports:
      - "80:80"
    environment:
      - "PHP_FPM_HOST=php:9000"
      - "PHP_FPM_ROOT_DIR=/app/web"

networks:
  mynet:
    driver: bridge
    ipam:
      config:
      - subnet: 172.25.0.0/24

volumes:
  app-files: {}
  app-db: {}