{% extends 'AppBundle:Layout:base.html.twig' %}
{% block title %}{{ 'Mailer'|trans }}{% endblock %}
{% block description %}{{ 'Challenge from Antonio'|trans }}{% endblock %}
{% block body %}
<div>
    Mailer for Antonio
</div>
{% endblock %}

