{% extends 'AppBundle:Layout:base.html.twig' %}
{% block title %}{{ 'Mailer'|trans }}{% endblock %}
{% block description %}{{ 'Challenge'|trans }}{% endblock %}
{% block body %}
<div>
    <h1>REST Mailer</h1>
    <p><a href="{{ path('nelmio_api_doc_index') }}">Documentation for API</a></p>
</div>
{% endblock %}

